* {
  font-family: "Mullish", sans-serif;
  background-color: #e5e5e5;
  box-sizing: border-box;
}
header {
  margin-left: 119px;
}

header > h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 8px;
}
header > p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
}

#carousel {
  height: 600px;
  margin-left: 119px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.carousel-unit {
  height: 70%;
  width: 384px;
  /* border: 1px solid rgb(150, 55, 70); */
  margin-top: 60px;
  flex-direction: column;
  align-items: stretch;
  transform: translateX(0);
  transition-property: transform;
  transition-duration: 3s;
}

.onscreen {
  transform: translateX(0);
  z-index: 1;
  transition-duration: 3s;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  background-color: #ccc;
}

.questions {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.img {
  /* border: 3px solid blueviolet; */
  width: 384px;
  height: 220px;
}

.headline {
  color: black;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
}

/* -- MOVING ITEMS -- */

.onscreen {
  transform: translateX(0);
  z-index: 1;
  /* transition-duration: 3s; */
}

.prev {
  transform: translateX(100%);
  z-index: 1;
  transition-duration: 3s;
}
.next {
  transform: translateX(-100%);
  z-index: 1;
  transition-duration: 3s;
}
.moveToLast {
  transform: translateX(300%);
  z-index: 0.6;
  transition-duration: 4s;
}
.moveToFirst {
  transform: translateX(-300%);
  z-index: 0.6;
  transition-duration: 4s;
}
/* 
.offscreen {
  transform: translateX(-100%);
  z-index: 1;
  transition-duration: 3s;
} */

#left {
  margin-left: 119px;
  background-image: src("");
  /* background: #31135e; */
  border: 1px solid #31135e;
}
#left,
#right:hover {
  color: white;
}
#right {
  transform: rotate(180deg);
  border: 1px solid #31135e;
}
.button {
  font-family: Mulish;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  border: 1px solid #340d70;
  color: #340d70;
  border-radius: 4px;
}
.button:hover {
  font-weight: 1000;
  border: 2px solid #340d70;
}

@media only screen and (min-device-width: 320px) and (max-width: 480px) {
  header {
    margin-left: 0;
  }
  #carousel {
    height: 35em;
    margin-left: 0;
  }
  .carousel-unit {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
}
@media only screen and (min-device-width: 768px) and (max-width: 960px) {
  header {
    margin-left: 0;
  }
  #carousel {
    height: 40em;
    margin-left: 0;
  }
  .carousel-unit {
    width: 50%;
    margin-left: 0;
    margin-top: 30px;
  }
}
